.hero{
    min-height: 60vh;
    display: grid;
    place-items: center;
    background: url(../src/img/bg-hero-desktop.svg);
    @include bgControl;
    text-align: left;

    .row{
        flex-wrap: wrap !important;
    }

    &__title{
        @include font600;
        color: $VeryDarkCyan;
    }

    &__des{
        @include font400;
        color: $VeryDarkCyan;
    }

    &__imgBx{

        &__img{
            max-width: 100%;
        }
    }

    @media(max-width: 768px){
        text-align: center;
    }
}